h3 {
  color: #e05038;
}

body {
  background: #000 url('risuto.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

label {
  color: #e05915;
}

.page-header {
  font-weight: 48;
  text-shadow: 1px 1px 2px #dbc3d0; 
  letter-spacing: .48rem;
}

.panel-heading {
  color: #ed1c16;
}

@-webkit-keyframes btn-primary {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@keyframes btn-primary {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.btn-primary {
  color: #62bcfa;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  -webkit-animation-name: btn-primary;
  animation-name: btn-primary;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes btn-danger {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes btn-danger {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.btn-danger {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
  -webkit-animation-name: btn-danger;
  animation-name: btn-danger;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.btn-warning {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}